* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header{
  height: 55px;
  display: block;
  background: #F55A5A;
  text-align: center;
}

.header--text{
  padding-top: 15px;
  display: block;
  color: white;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -7.5%;
}

.cards{
  padding: 40px;
}

.card--img{
  margin: 0 auto;
  width: 125px;
  height: 168px;
}

.card--head{
  margin: 0 auto;
  align-items: baseline;
  width: 350px;
}

/* .card--loc{
  height: 10px;
} */

.card--location{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin-left: 4px;
  margin-right: 12px;
}

.card--link{
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.card--title{
  margin: 0 auto;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.date{
  margin: 0 auto;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.card--text{
  margin: 0 auto;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #2B283A;
  text-align: left;
}